#!/bin/bash -x

# Usage:
# 1) Set the environment variables below to match your environment/directories
# 2) run_multi.sh ###, where ### is the number of scenes to process
# 3) Check your batch status and/or the L2 output S3 bucket for results

SQSHOME=/devel/djt
espaQueue=djt-process-batch-ESPA_ProcessJobQueue
export espaJobBucket=jdc-test-dev
export espaJobDefinition=djt-process-batch-ESPA_ProcessJob
export AWSRegion=us-west-2
export ESPA_PROCESS_TEMPLATE=/devel/daelf/espa-all/espa-processing/processing/order_template.json
export ESPA_CONFIG_PATH=/devel/djt/espa-container-tools/

$SQSHOME/aws-helpers/SQS/submit_array.py \
        --bucket lsaa-level1-data \
        --queue $AWSQueue \
        --prefix L8 \
        $1

